@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

h1 {
    font-family: 'Oswald', sans-serif;
}

.calendar-day {
    padding: 18px 24px;
    margin-left: 4px;
    margin-right: 4px;
}

